.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  background-image: url('./Picture/Background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-color: #003F2D;
}

button{
  border-radius: 10px;
  color: #ffffff;
  background-color: #406C35;
  /* background-color: #018667; */
  /* background-color: #007bff; */
  cursor: pointer;
}

button:hover {
  /* background-color: #0056b3; */
  background-color: #018667;
}

.container {
  text-align: center;
  color: white;
}

.logo {
  width: 100px; /* Ajustez la taille du logo selon vos besoins */
  margin-bottom: 20px;
}

.counter {
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.number {
  font-size: 1.5em;
}

.sum {
  align-items: center;
  font-size: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.convert-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.5em;
  background-color: #757875;
}

.connect-wallet {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 90%; /* Augmentez la largeur du conteneur */
  height: 40%; /* Augmentez la hauteur du conteneur */
  padding: 20px;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px; /* Ajoute des bords arrondis */
}

.bottom-box {
  width: 70%; /* Prend 70% de l'espace disponible */
  padding: 20px;
  background-color: #ddd;
  text-align: left; /* Aligne le texte à gauche */
  border-top: 2px solid #000;
  border-radius: 15px; /* Ajoute des bords arrondis */
}

.lottery-info {
  width: 100%; /* Prend tout l'espace disponible */
}

.tickets {
  display: flex;
  flex-wrap: wrap; /* Permet aux boutons de passer à la ligne suivante si nécessaire */
  gap: 10px; /* Ajoute de l'espace entre les boutons */
}

.ticket-button {
  padding: 10px;
  border: none;
}

.extra-info-box {
  width: 25%; /* Prend 25% de l'espace disponible */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px; /* Ajoute des bords arrondis */
  text-align: center; /* Centre le texte */
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0; /* Ajoute de l'espace autour des lignes de séparation */
}