.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  position: relative;
}

.container {
  text-align: center;
}

.logo {
  width: 100px; /* Ajustez la taille du logo selon vos besoins */
  margin-bottom: 20px;
}

.counter {
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.number {
  font-size: 1.5em;
}

.sum {
  align-items: center;
  font-size: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.convert-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}

.connect-wallet {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.bottom-box {
  width: 90%; /* Augmentez la largeur du cadre */
  height: 40%; /* Augmentez la hauteur du cadre */
  padding: 20px;
  background-color: #ddd;
  text-align: center;
  border-top: 2px solid #000;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px; /* Ajoute des bords arrondis */
}

.info-display {
  margin-top: 10px;
  font-size: 1.2em;
}

.lottery-info {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Aligne la liste à gauche */
}

.lottery-info li {
  margin: 20px 0; /* Ajoute de l'espace entre les éléments */
}