.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  position: relative;
}

.container {
  text-align: center;
}

.logo {
  width: 100px; /* Ajustez la taille du logo selon vos besoins */
  margin-bottom: 20px;
}

.counter {
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.number {
  font-size: 1.5em;
}

.sum {
  align-items: center;
  font-size: 2em;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.convert-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}

.connect-wallet {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 90%; /* Augmentez la largeur du conteneur */
  height: 40%; /* Augmentez la hauteur du conteneur */
  padding: 20px;
  background-color: #ddd;
  position: fixed;
  bottom: 30px; /* Ajustez pour laisser de la place pour le bouton "Acheter" */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px; /* Ajoute des bords arrondis */
}

.bottom-box {
  width: 70%; /* Prend 70% de l'espace disponible */
  padding: 20px;
  background-color: #ddd;
  text-align: left; /* Aligne le texte à gauche */
  border-top: 2px solid #000;
  border-radius: 15px; /* Ajoute des bords arrondis */
}

.lottery-info {
  width: 100%; /* Prend tout l'espace disponible */
}

.tickets {
  display: flex;
  flex-wrap: wrap; /* Permet aux boutons de passer à la ligne suivante si nécessaire */
  gap: 10px; /* Ajoute de l'espace entre les boutons */
}

.ticket-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticket-button:hover {
  background-color: #0056b3;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0; /* Ajoute de l'espace autour des lignes de séparation */
}

.extra-info-box {
  width: 25%; /* Prend 25% de l'espace disponible */
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px; /* Ajoute des bords arrondis */
  text-align: center; /* Centre le texte */
  position: relative;
}

.buy-button {
  margin-top: 0px; /* Ajoute de l'espace au-dessus du bouton */
  padding: 10px 37%;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  bottom: 10px; /* Ajustez selon vos besoins */
  left: 50%;
  transform: translateX(-50%);
}

.ticket-price{
  bottom: 100%;
}
.buy-button:hover {
  background-color: #218838;
}